/* Pre Declarations */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    height: 100%;
    min-width: 450px;
}

/* Main Content */

.main {
    margin: 0;
    background-image: url("../img/bg-pattern.svg");
    background-repeat: no-repeat;
    background-position: top center;
    max-width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

/* Main Heading */

.heading-container {
    background-image: url("../img/pattern-circles.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 16rem;
}

.heading {
    font-size: 22px;
    font-weight: 600;
    color: hsl(227, 35%, 25%);
    margin-bottom: 0;
}

.heading-para {
    font-size: 15px;
    color: hsl(226, 100%, 87%);
    text-align: center;
}

/* Price Calculator Tab */

.tab-container {
    background-color: rgba(255, 255, 255, 0.829);
    border-radius: 10px;
    box-shadow: 0 10px 15px 0.1px rgba(0, 0, 0, 0.2);
    width: 500px;
}

.tab-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "page-view price"
        "slider slider"
        "billing billing"
        "list button";
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page-views {
    grid-area: page-view;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    color: hsl(226, 100%, 87%);
    letter-spacing: 2px;
}

.price {
    grid-area: price;
    font-weight: 800;
    margin-right: 10%;
}

.range-slider {
    grid-area: slider;
    margin-bottom: 40px;
}

#myRange {
    width: 80%;
    -webkit-appearance: none;
    /* Overrides the default CSS */
    appearance: none;
    height: 10px;
    border-radius: 10px;
    background: hsl(174, 77%, 80%);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    background: url(../img/icon-slider.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: hsl(174, 86%, 45%);
    appearance: none;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    cursor: pointer;

}

.slider::-moz-range-thumb {
    background: url(../img/icon-slider.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: hsl(174, 86%, 45%);
    appearance: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.billing {
    grid-area: billing;
    margin-bottom: 40px;
}

.billing-text {
    display: inline;
    font-size: 12px;
    color: hsl(227, 35%, 25%);
}

.left-billing {
    margin-left: 10%;
}

#discount {
    color: hsl(15, 100%, 70%);
    border-radius: 10px;
    background-color: hsl(14, 92%, 95%);
    padding: 1px 5px 1px 5px;
    font-size: 10px;
}

/* Toggler */

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin: 0 10px 0 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 100px;
}

.toggle:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.toggle {
    background-color: hsl(174, 86%, 45%);
}

input:focus+.toggle {
    box-shadow: 0 0 1px hsl(174, 86%, 45%);
}

input:checked+.toggle:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

.list-container {
    grid-area: list;
}

.btn-box {
    grid-area: button;
}